  <span class="absolute text-white text-4xl top-5 left-4 cursor-pointer" onclick="Openbar()">
    <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
  </span>
  <div class="sidebar fixed top-0 bottom-0 left-[-300px] duration-1000 w-[300px] overflow-y-auto text-center bg-gray-900 shadow h-screen">
    <div class="text-gray-100 text-xl">
      <div class="p-2.5 mt-1 flex items-center rounded-md ">
        <i class="bi bi-app-indicator px-2 py-1 bg-red-600 rounded-md"></i>
        <h1 class="text-[15px] ml-2 text-xl text-gray-200 font-semibold">Fight Camp</h1>
        <i class="bi bi-x ml-20 cursor-pointer" onclick="Openbar()"></i>
      </div>
      <hr class="my-2 text-gray-600">

      <div>
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer bg-gray-700">
          <i class="bi bi-search text-sm"></i>
          <input class="text-[15px] ml-4 w-full bg-transparent focus:outline-none" placeholder="Serach" />
        </div>

        <a href="/dashboard" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
          <i class="bi bi-house-door-fill"></i>
          <span class="text-[15px] ml-4 text-gray-200">Dashboard</span>
        </a>

        <a href="/membership" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
          <i class="bi bi-tag-fill"></i>
          <span class="text-[15px] ml-4 text-gray-200">Membership</span>
        </a>

        <a href="/bank" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
          <i class="bi bi-cash-coin"></i>
          <span class="text-[15px] ml-4 text-gray-200">Bank</span>
        </a>

        <a href="/discount" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
          <i class="bi bi-tag-fill"></i>
          <span class="text-[15px] ml-4 text-gray-200">Discount</span>
        </a>

        <a href="/training" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
          <i class="bi bi-bank"></i>
          <span class="text-[15px] ml-4 text-gray-200">Training</span>
        </a>

        <hr class="my-4 text-gray-600">

        <a href="/confirmation" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
          <i class="bi bi-envelope-fill"></i>
          <span class="text-[15px] ml-4 text-gray-200">Confirmation</span>
        </a>

        <a href="/registrated" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
          <i class="bi bi-check-circle-fill"></i>
          <span class="text-[15px] ml-4 text-gray-200">Registrated</span>
        </a>

        <hr class="my-4 text-gray-600">

        <a href="/gallery" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
          <i class="bi bi-card-image"></i>
          <span class="text-[15px] ml-4 text-gray-200">Gallery</span>
        </a>

        <a class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
          <i class="bi bi-box-arrow-in-right"></i>
          <span class="text-[15px] ml-4 text-gray-200">Logout</span>
        </a>

      </div>
    </div>
  </div>